
~*
~$*
*.o
*.a
*.lib
*.map
*.pdb
*.elf
*.dll
*.exe

*.db
*.opendb
*.suo
*.user
*.Cache
*.psess

*.zip
*.7z
*.bak

.vs/

obj/
bin/
lib/
ipch/

node-packages/

[Dd]ebug/
[Rr]elease/
[Pp]ublish/
[Pp]ackage/
[Pp]ackages/
