
<footer class="footer" style="background-color:#275169;">
    <div class="container">
        <div class="content has-text-centered">
            <strong class="has-text-white" style="background-color:#275169">Active Forum</strong>
            &nbsp;
            <a class="has-text-white" style="background-color:#275169;" href="/contact">Kontakt</a> 
        </div>
    </div>
</footer>
