@inherits LayoutComponentBase


        <Navigation />
        <div style="background-color:#e9eafc">
            @Body


        </div>
       
        <Footer />



@code
{
   // <div class="container">
   // <div >
  //      <Navigation />
   // </div>
  //  <div class="container">
  //      @Body
  //  </div>

 //   <div>
   //     <Footer />
 //   </div>
//</div> #e6ebfc

}
