@page "/contact"

<Heading Title="Kontakt"
         Subtitle="Jeżeli masz pytania to skontaktuj się z nami." />

<article class="message is-dark p-6">
    <div class="message-header">
        <p>Dane kontaktowe</p>
    </div>
    <div class="message-body has-background-white-ter">
        W razie problemów napisz do nas. E-mail kontaktowy to r.patryk98@gmail.com.
    </div>
</article>
