@page "/"

<Heading Title="Strona startowa" 
         Subtitle="Witaj!" />

<article class="message is-dark p-6">
  <div class="message-header">
    <p>Podstawowe informacje o forum</p>
  </div>
  <div class="message-body has-background-white-ter">
      Aplikacja stworzona jest do ułatwienia przekazywania informacji na temat aktywności powiązanych z siłownią.
      W celu skorzystania z aplikacji wymagana jest rejestracja. Dzięki niej uzyskasz dostęp do takich funkcjonalności jak forum, grupy prywatne oraz komunikator.
  </div>
</article>